<!-- CABECERA -->
<header id="header">
    <div id="logo">
        <img src="http://tienda-master/assets/img/camiseta.png" alt="Camiseta Logo" />
        <a href="http://tienda-master/">
            Venta de remeras					</a>
    </div>
</header>
