<!-- CABECERA -->
<header id="header">
    <div id="logo">
        <img src="{{ asset('assets/images/camiseta.png') }}" alt="Camiseta Logo" />
        <a href={{ path('index') }}>
            Venta de remeras					</a>
    </div>
</header>
