<!DOCTYPE HTML>
<html lang="es">

@include('base.head')

<body>
<div id="container">

    @include('base.header')

    @include('base.menu')

    <div id="content"><!-- BARRA LATERAL -->

        @include('base.aside')

        @yield('contenidocentral')

    </div>

    @include('base.footer')
</div>
</body>
</html>