<!-- MENU -->
<nav id="menu">
    <ul>
        <li>
            <a href="{{ path('index') }}">Inicio</a>
        </li>
        {% for categoria in categorias %}
          <li>
                 <a href="{{ path('categoriaver',{'id': categoria.id}) }}">{{ categoria.nombre }}</a>
          </li>
        {% endfor %}
    </ul>
</nav>