{% extends 'base/layout.html.twig' %}

{% block contenidocentral %}
    <!-- CONTENIDO CENTRAL -->
    <div id="central"><h1>Crear nueva categoria</h1>
        <form action={{ path('categoriasave') }} method="POST">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" required/>
            <input type="submit" value="Guardar" />
        </form></div>
    </div>
{% endblock %}
