@extends('base.layout')

@section('contenidocentral')
    <!-- CONTENIDO CENTRAL -->
    <div id="central"><h1>Detalle del pedido</h1>
        @if(((session('usuario'))->rol)=="admin")
            <h3>Cambiar estado del pedido</h3>
            <form action={{ route('pedido_estado') }} method="POST">
                @csrf
                <input type="hidden" value={{$pedido->id}} name="id"/>
                <select name="estado">
                    <option value="Pendiente" selected>Pendiente</option>
                    <option value="En preparación" >En preparación</option>
                    <option value="Preparado para enviar" >Preparado para enviar</option>
                    <option value="Enviado" >Enviado</option>
                </select>
                <input type="submit" value="Cambiar estado" />
            </form>
            <br/>
        @endif
        <h3>Dirección de envio</h3>
        Provincia: {{$pedido->provincia}}   <br/>
        Cuidad: {{$pedido->localidad}} <br/>
        Direccion: {{$pedido->direccion}}   <br/><br/>
        <h3>Datos del pedido:</h3>
        Estado: {{$pedido->estado}} <br/>
        Número de pedido: {{$pedido->id}}   <br/>
        Total a pagar: {{$pedido->coste}} $ <br/>
        Productos:
        <table>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Unidades</th>
            </tr>
            @foreach($pedido->productos as $producto)
                <tr>
                    <td><img src="{{route('productoimagen',['nombre_imagen'=>$producto->imagen])}}" class="img_carrito" /></td>
                    <td>{{ $producto->nombre }}</td>
                    <td>{{ $producto->precio }}</td>
                    <td>{{ $producto->pivot->unidades }}</td>
                </tr>

            @endforeach
        </table>
    </div>
@endsection