{% extends 'base/layout.html.twig' %}

{% block titulo %}
    Listado de Categoria
{% endblock %}

{% block contenidocentral %}
<!-- CONTENIDO CENTRAL -->
<div id="central"><h1>Gestionar categorias</h1>
    {% for altacategoria in app.session.flashbag.get('altacategoria') %}
       {% if(altacategoria)==1 %}
            <strong class="alert_green">Categoria Creada Correctamente</strong>
       {% else %}
            <strong class="alert_red">Categoria no creada</strong>
       {% endif %}
    {% endfor %}

    <a href="{{ path('categoriacrear') }}" class="button button-small">
        Crear categoria
    </a>
    <table>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
        </tr>
        {% for categoria in categorias %}
        <tr>
            <td>{{categoria.getId}}</td>
            <td>{{categoria.getNombre}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>

{% endblock %}
