{% extends 'base/layout.html.twig' %}

{% block contenidocentral %}
<!-- CONTENIDO CENTRAL -->
<div id="central">	<h1>Tu pedido se ha confirmado</h1>
    <p>
        Tu pedido ha sido guardado con exito, una vez que realices la transferencia
        bancaria a la cuenta 7382947289239ADD con el coste del pedido, será procesado y enviado.
    </p>
    <h3>Datos del pedido:</h3>
    Número de pedido: {{ pedido.getId }}
    <br/>
    Total a pagar: {{ pedido.getCoste }}
    <br/>
    Productos:
           <table>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Unidades</th>
            </tr>
            {{ include('base/lista_productos_en_pedido.html.twig') }}
           </table>
            </div>
{% endblock %}